<!-- <p>{{ 'Server' }} id {{serverId }} is {{serverStatus}} </p> -->
<!-- <p>{{ 'Server' }} id {{serverId }} is {{getServerStatus}} </p> -->
<p>{{ 'Server' }} id {{serverId }} is {{getServerStatus()}} </p>
<!-- string interpolation syntax. whatever in between the curly braces somehow returns string.we
    could call method which returns a string .Only other restriction is we cant write multi line expression.
    we cant write block expression here.we cant add an if or For structure here.We could use ternary expression.    
Simple typescript expression is to reference its property.String interpolation is to result string in the end.or something 
which is easily converted into string is correct here
 -->