<label>server Name </label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)] = "serverName">
<!-- It will trigger on the input event and update the value of server name in our component automatically
On the other hand it will also update the value of the input element If we change server name somewhere else
   -->
<p>{{serverName}}</p>
<!-- If i want to output what user has entered use $event is  reserved variable namee can use in template when 
using event binding. $event it is data emmited with that event.It gives access to event data. "input" and "click" are default events provided
by the DOM.They ship some data when tey are fired.we capture this data with $ event passed as an argument to the
method.  -->
<!-- update this in app.module as well
But CLI should do this automatically which is why we find it alreay in app.module.ts but make sure its presence -->
 <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
   <!-- disabled : resoved to true or false
           click event : that method triggers .-->
   Add Servers
 </button>
  <p>{{serverCreationStatus}}</p>
 <!-- <p>{{allowedNewUser}}</p> === <p [innerText] = "allowNewServer"></p> -->
<app-server></app-server>
<app-server></app-server>

<!-- To make disabled functionality dynamic we can bind to it by enclosing it in square brackets. Square brackets indicates
to Angular that we are using property binding. if "!allowNewServer" is false only button gets disabledh.
We were binding to this disabled property, this native element property, to our own Typescript property
here. this will update dynamically.So Once allowNewServer changes , this is changed in  DOM. so the buttons 
gets enabled.
Why use angular is it makes very easy for you to intercat with your DOM , to change something there at runtime 
like we did here.
Besides binding to HTML element properties like we do here  you can also bind
to other properties for eg : directives , your own component  ==later

  -->
